.navBar {
    background-color: rgb(14, 27, 27);
    width: 100%;
    height: 100vh;
    align-items: center;
  }
   
  // @media screen and (max-width: 1700px) {
  //   .navBar. {
  //     width: auto;
  //     position: relative;
  //     // top: 15px;
  //   }
  // }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .navBar {
      text-align: center;
      float: none;
      height: 60px;
    }
  }
  

  .nav-text {
    display: flex;
    flex: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #5850ec;
  }
  
 