$primary-color: #5850ec;

$font: "Poppins", sans-serif;
* {
  font-family: $font;
}

// .drop {
//   position: relative;
//   box-shadow: 0 4px 4px 0 #cdcdcd;
//   padding-top: -10px;
// }

// .form-control {
//   box-shadow: 0 4px 4px 0 #cdcdcd;
// }

h3 {
  color: #cdcdcd;
  font-weight: 500;
}
.text-color {
  position: relative;
  left: 130px;
  color: white;
}
// .reg {
//   // border-color: $primary-color;
//   // box-shadow: 0 4px 4px 0 #cdcdcd;
//   font-display: white;
// }
// .reg:hover {
//   // background-color: $primary-color;
// }
